<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/footer.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/navigation.css'/>
    <link rel='stylesheet' type="text/css" href='/stylesheets/auth.css'/>
</head>
<body style="background: url('/images/loginbg.png')">
<div class="max-width">
    <% include ./navigation.ejs %>
    <div class="auth-container">
        <div class="signup-container">
            <h2>Already have an account?</h2>
            <span>Sign in with your email and password</span>
            <form action="/auth/login" method="post">
                <div class="group">
                    <input type="email" id="email" name="email" required>
                    <label class="form-input-label" for="email">Email:</label>
                </div>

                <div class="group">
                    <input type="password" id="password" name="password" required>
                    <label class="form-input-label" for="password">Password:</label>
                </div>

                <div class="button-container">
                    <button class="base-button" type="submit">Sign In</button>
                    <a href="/auth/signup" class="signup-btn">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</div>
<% include ./footer.ejs %>
</body>
</html>
